<div class="cui__sidebar kit__customScroll">
  <div class="cui__sidebar__inner">
    <a
      href="javascript: void(0);"
      class="cui__sidebar__close cui__sidebar__actionToggle fe fe-x-circle"
    ></a>
    <h5>
      <strong>Theme Settings</strong>
    </h5>
    <div class="cui__utils__line" style="margin-top: 25px; margin-bottom: 30px"></div>
    <div class="cui__sidebar__type">
      <div class="cui__sidebar__type__title">
        <span>Application Name</span>
      </div>
      <div class="cui__sidebar__type__items">
        <input id="appName" class="form-control" value="Clean UI Pro" />
      </div>
    </div>
    <div class="cui__sidebar__item hideIfMenuTop">
      <div class="cui__sidebar__label">
        Left Menu: Collapsed
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menuLeft--toggled" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item hideIfMenuTop">
      <div class="cui__sidebar__label">
        Left Menu: Unfixed
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menuLeft--unfixed" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item hideIfMenuTop">
      <div class="cui__sidebar__label">
        Left Menu: Shadow
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__menuLeft--shadow" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Menu: Color
      </div>
      <div class="cui__sidebar__container">
        <div class="cui__sidebar__select" to="body">
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--white cui__sidebar__select__item--active"
          ></div>
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--gray"
            setting="cui__menuLeft--gray cui__menuTop--gray"
          ></div>
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--black"
            setting="cui__menuLeft--dark cui__menuTop--dark"
          ></div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Auth: Background
      </div>
      <div class="cui__sidebar__container">
        <div class="cui__sidebar__select" to="body">
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--white cui__sidebar__select__item--active"
          ></div>
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--gray"
            setting="cui__auth--gray"
          ></div>
          <div
            class="cui__sidebar__select__item cui__sidebar__select__item--img"
            setting="cui__auth--img"
          ></div>
        </div>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Topbar: Fixed
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__topbar--fixed" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Topbar: Gray Background
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__topbar--gray" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        App: Content Max-Width
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--contentMaxWidth" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        App: Max-Width
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--appMaxWidth" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        App: Gray background
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--grayBackground" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Cards: Squared Borders
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--squaredBorders" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Cards: Shadow
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--cardsShadow" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
    <div class="cui__sidebar__item">
      <div class="cui__sidebar__label">
        Cards: Borderless
      </div>
      <div class="cui__sidebar__container">
        <label class="cui__sidebar__switch">
          <input type="checkbox" to="body" setting="cui__layout--borderless" />
          <span class="cui__sidebar__switch__slider"></span>
        </label>
      </div>
    </div>
  </div>
</div>
<a
  href="javascript: void(0);"
  style="bottom: calc(50% + 120px)"
  class="cui__sidebar__toggleButton cui__sidebar__actionToggle"
  data-toggle="tooltip"
  data-placement="left"
  title="Settings"
>
  <i class="fe fe-settings"></i>
</a>
<a
  href="javascript: void(0);"
  style="bottom: calc(50% + 60px)"
  class="cui__sidebar__toggleButton cui__sidebar__actionToggleTheme"
  data-toggle="tooltip"
  data-placement="left"
  title="Switch Dark / Light Theme"
>
  <i class=" fe fe-moon cui__sidebar__on"></i>
  <i class="fe fe-sun cui__sidebar__off"></i>
</a>
<a
  href="javascript: void(0);"
  style="bottom: calc(50%)"
  class="cui__sidebar__toggleButton color reset"
  data-toggle="tooltip"
  data-placement="left"
  title="Set Primary Color"
>
  <button type="button" id="resetColor" tabindex="0">
    <i class="fe fe-x-circle"></i>
  </button>
  <input type="color" id="colorPicker" value="#4b7cf3" />
  <i class="fe fe-package"></i>
</a>
<a
  href="https://docs.cleanuitemplate.com"
  target="_blank"
  rel="noopener noreferrer"
  style="bottom: calc(50% - 60px)"
  class="cui__sidebar__toggleButton"
  data-toggle="tooltip"
  data-placement="left"
  title="Documentation"
>
  <i class=" fe fe-book-open"></i>
</a>
