<div class="row">
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
  <div class="col-xl-4 col-lg-6">
    @@include('src/components/kit/widgets/general/16/16.html')
  </div>
</div>

<script>
  /////////////////////////////////////////////////////////////////////////////////////////
  // "ECOMMERCE" module scripts

  ;(function($) {
    'use strict'
    $(function() {
      /////////////////////////////////////////////////////////////////////////////////////////
      $('.air__ecommerce__productFavorite').on('click', function() {
        $(this).toggleClass('text-dark')
      })
      /////////////////////////////////////////////////////////////////////////////////////////
    })
  })(jQuery)
</script>
